<body>
     <main >
          <div class="container d-flex justify-content-center text-align-center mt-5">
          <div class="card  position-absolute top-50 start-50 translate-middle"  >
                 <form action="/links/add">
                    <button type="submit" class="btn btn-primary btn-lg realizar">Realizar Pedido</button>
                </form>          
          </div>
        </div>
      </main>
</body>